<!-- 탈퇴 처리 중 계정 안내 페이지 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>탈퇴 처리 중 계정</title>
</head>

<body>
    <h1>탈퇴 처리 중인 계정 입니다.</h1>
    <p>
        <%= user.id %>님의 계정은 탈퇴 처리 중이며, <%= withdrawal_time_remaining %>후에 완전히 탈퇴됩니다.
    </p>

	<a href="/withdrawal_cancel">회원탈퇴 철회</a>
    <a href="/logout">홈으로</a>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>
	(jQuery)(function($) {

	});
</script>
</html>
