<!-- 상담자들이 생성한 방 목록 페이지 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상담자 방 목록</title>
</head>

<body>
    <!-- 상담자 방 목록 -->
    상담자 방 목록
    <a href="/counselors_room_list">LOGO_image</a>
    <a href="/counselors_room_list">상담자</a>
    <a href="/clients_room_list">내담자</a>
    <a href="/my_profile_counselor">내 프로필</a>
</body>

</html>
