<!--  비밀번호 수정 현재 비밀번호 확인 페이지 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 수정 본인 확인</title>
</head>

<body>
    <!-- 비밀번호 수정 현재 비밀번호 확인 -->
    비밀번호 수정 현재 비밀번호 확인
    <a href="/counselors_room_list">LOGO image</a>
    <a href="/my_profile_client">상담 기록</a>
    <a href="/my_profile_counselor">내담 기록</a>
    <a href="/current_password_confirm_changepwd">비밀번호 수정</a>
    <a href="">연동 휴대폰 변경</a>
    <a href="/logout">로그아웃</a>
    <a href="/current_password_confirm_withdrawal">회원탈퇴</a>

    <form id="submit_form" action="/current_password_confirm_changepwd" method="post">
        <div>
            <label for="current_password">PASSWORD</label>
            <input id="current_password" type="password" name="current_password">
        </div>
        <div id="failed_authentication_message">
            Confirm your current PASSWORD
        </div>
        <button type="submit">확인</button>
    </form>
    <script>
    </script>
</body>

</html>
