<!-- 계정 찾기 페이지 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find_account</title>
</head>

<body>
    계정 찾기 페이지
    <!--
    1. 휴대폰 본인 인증
    2. 휴대폰 문자 발송 (아이디, 임시 비밀번호)
    3. 계정 찾기 안내문 페이지(메인 화면으로 링크)
     -->
</body>

</html>
