<!-- 메인 로그인 화면 -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
    </style>
</head>

<body>
    <div id="outermost">
        <div id="title">Title</div>
        <div id="log_in">
            <form id="login_form" method="post" action="/login">
                <input id="id_input" name="userid" type="text" placeholder="ID">
                <input id="password_input" name="userpassword" type="password" placeholder="PASSWORD">
                <div id="login_button">
                    <button id="signin_button" type="submit">sign-in</button>
                    <a id="signup_button" href="/signup1_cellphone_authentication">sign-up</a>
                    <a href="/room_list">둘러보기</a>
                    <a id="find_account" href="/find_account">find-account</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</body>

</html>
