
<!-- 비밀번호 수정 성공 페이지 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 수정 성공</title>
</head>

<body>
    비밀번호 변경을 완료하였습니다.
    다시 로그인 해 주세요.

    <a href="/">다시 로그인하기</a>
</body>

</html>
