
<!-- my profile 페이지 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>내 프로필</title>
</head>

<body>
    <a href="">client</a>
    <a href="">counselor</a>
    <a href="/current_password_confirm_changepwd">비밀번호 수정</a>
    <a href="/current_password_confirm_withdrawal">회원탈퇴</a>
</body>

</html>
