<!-- 선택 페이지 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>선택</title>
</head>

<body>
    <a href="/room_list">내담자</a>
    <a href="/create_room">상담자</a>
    <a href="/my_profile">내 프로필</a>
    <a href="/logout">로그아웃</a>
</body>

</html>
