
<!--  회원 탈퇴 사유 페이지 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 탈퇴 사유</title>
</head>

<body>
    회원 탈퇴 사유
    <!--
    1. 탈퇴 사유 선택/작성
    2. 탈퇴 사유 데이터 수집
    3. 계정 데이터 데이터베이스에서 삭제(2주동안 재가입 불가)
     -->
    <form  id="withdrawal_reason_form" action="/withdrawal" method="post">
        <select name="withdrawal_reason_selected" id="withdrawal_reason_selected">
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
            <option value="d">d</option>
            <option value="e" selected="selected">e</option>
        </select>
        <textarea id="withdrawal_reason_text" name="withdrawal_reason_text" rows="8" cols="60" ></textarea>
        <input type="submit" value="제출">
    </form>

</body>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script>
		(jQuery)(function($) {

			$("#withdrawal_reason_selected").change(function(){
				var state=$("#withdrawal_reason_selected option:selected").val();

				if(state=="e"){
					$("#withdrawal_reason_text").show();

                    // 제출 버튼을 눌렀을 때(폼 양식 제출 시에),
                    $('#withdrawal_reason_form').submit(function() {
                        // 탈퇴 사유 텍스트의 길이가 10자 미만일 때,

                        console.log('withdrawal_reason_text', $('#withdrawal_reason_text').val().length);

                        if ($('#withdrawal_reason_text').val().length <10) {
                            // 경고창 출력 후,
                            alert("회원탈퇴 사유를 10자 이상 적어주세요.");
                            // 탈퇴 사유 텍스트 입력 input에 포커스를 주고,
                            $('#withdrawal_reason_text').focus();
                            // submit(제출)을 취소한다.
                            return false;
                        }
                    });

				}else{
					$("#withdrawal_reason_text").hide();
				}
			});

            // 제출 버튼을 눌렀을 때(폼 양식 제출 시에),
            $('#withdrawal_reason_form').submit(function() {
                // init 탭을 선택 후 제출을 했을 시에,
                if ($('#withdrawal_reason_selected').val() =='init') {
                    // 경고창 출력 후,
                    alert("회원 탈퇴 사유를 선택해 주세요.");
                    // 탈퇴 사유 탭에 포커스를 주고,
                    $('#withdrawal_reason_selected').focus();
                    // submit(제출)을 취소한다.
                    return false;
                }
            });


		});
	</script>
</html>
