#title{
    font-size: 67px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
}

#log_in{
    border: 1px solid;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    width: 340px;
}

#login_form{
    padding-top: 70px;
    text-align: center;
}

#id_input, #password_input{
    width: 230px;
    height: 40px;
    margin-bottom: 20px;
}

#password_input{
    margin-bottom: 20px;
}

#signin_button, #signup_button{
    width:110px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}
