<!-- 회원가입 휴대폰 본인인증 페이지 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-up(Cellphone-authentication)</title>
</head>

<body>

    <h1>휴대폰 본인인증</h1>

    <a href="/signup2_account_creation">다음</a>

    <!-- 계정이 있을 경우 메인 로그인 페이지로 이동 링크 -->
    <p>이미 계정이 있으신가요? <a href="/">로그인하기</a></p>
</body>

</html>